appName: java-maven-app
replicaCount: 1

namespaceOverride: ""

image:
  repository: ""
  tag: "latest"
  pullPolicy: Always

imagePullSecrets:
  - name: dg-registry-key

containerPort: 8080

service:
  port: 80
  targetPort: 8080

resources:
  limits:
    memory: "256Mi"
    cpu: "200m"
  requests:
    memory: "128Mi"
    cpu: "100m"

autoscaling:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 50

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
  path: /
  pathType: Prefix
  host: ""